html, body {
    height: 100%;
    margin: 0;
  }

.raised-button {
    background-color: #F87A34;
    border-radius: 0.25rem;
    border: none;
    padding: 0.75rem 3rem;
  }

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 30%; /* asegúrate de que el contenedor ocupe todo el ancho disponible */
  position: fixed; /* asegúrate de que el contenedor sea fijo */
  top: 45%; /* asegúrate de que el contenedor esté pegado a la parte superior */
  left: 18%; /* asegúrate de que el contenedor esté pegado a la izquierda */
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
}

.empty-box {
  width: 200px;
  height: 200px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; /* Espaciado inferior para separar del botón */
}