
<header>
	<img src="assets/pronounceGenius.png" alt="Logo" class="logo">
</header>
<a class="homeLink" routerLink="/home">
	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
</a>
<div class="centered">
    <button class="raised-button easy-button">
        Easy
    </button>
    <button class="raised-button average-button">
        Average
    </button>
    <button class="raised-button hard-button">
        Hard
    </button>
</div>
<div class="displayed-word">
    {{displayedText}}
</div>
<div class="retry-button">
    <svg  xmlns="http://www.w3.org/2000/svg"  width="72"  height="72"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-refresh-dot"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4" /><path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4" /><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" /></svg>
</div>
<div class="centered">
    <div class="record">
        <p>Your correct word record</p>
        <div class="correct-text-box"></div>
    </div>
    <div class="record">
        <p>Your incorrect word record</p>
        <div class="incorrect-text-box"></div>
    </div>
</div>
<footer>
	<p>© 2024 - Made by Maria C. Jaramillo, Andres F. Velasco, J. Sebastian Roncancio, Cesar A. Velasquez </p>
</footer>

