<div class="content" role="main">
  <div class="row justify-content-center pt-2 pb-2">
    <button title="Click here to start recording action" class="btn-mic w-auto" (click)="startRecording()"
  		style="margin-right: 3px;">
      Start Recording
    </button>
    <button title="Click here to stop recording" class="btn-stop w-auto" (click)="stopRecording()" 
      style="margin-right: 3px;">
      End Recording
    </button>
  </div>
  <audio #audioPlayer controls style="margin: 10px;"></audio>
  <a [href]="audioURL" download="recorded_audio.wav">Download last reecorded Audio</a>
</div>