html,
header {
    background-color: #458FFF;
}

body {
	height: 100%;
	margin: 0;
}

.homeLink {
	position: absolute;
	display: flex;
	width: 30px;
	height: 30px;
	align-items: center;
	justify-content: center;
	left: 30px;
	top: 30px;
	text-decoration: none;
	background-color: rgb(220, 214, 226);
	border-radius: 50px;
	transition: 0.3s;
}

.homeLink:hover {
	background-color: rgb(200, 200, 200);
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.centered {
	display: flex;
	max-width: 80%;
	margin: 0 auto;
	justify-content: space-around;
	align-items: center;
	padding-top: 2rem;
}

.raised-button {
	position: relative;
	background-color: #F87A34;
	border-radius: 0.5rem;
	border: none;
	padding: 0.7rem 5rem;
	font-size: 2rem;
	cursor: pointer;
	transition: box-shadow 0.3s ease;
	/* Efecto de transición */
}

.raised-button:hover {
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 8px 16px rgba(0, 0, 0, 0.2);
	/* Efecto de elevación al pasar el mouse */
}

.easy-button {
    background-color: #5bc718bf;
}

.average-button {
    background-color: #F18B13;
}

.hard-button {
    background-color: #bf11119a; 
}

.displayed-word {
    display: flex;
	max-width: 70%;
	margin: 0 auto;
    font-size: 96px;
	align-items: center;
	padding-top: 3rem;
    padding-bottom: 4rem;
}

.retry-button {
    width: 5.125rem; 
    height: 5.125rem; 
    border-radius: 50%; 
    background-color: #3498db; 
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
}

.icon-tabler-refresh-dot {
    margin-left: 5px; 
}

.record {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}

.correct-text-box{
	width: 300px;
	height: 300px;
	border: 3px solid #31c610;
	padding: 3px;
	margin-bottom: 10px;
	overflow-y: scroll;
}

.incorrect-text-box{
	width: 300px;
	height: 300px;
	border: 3px solid #c91b0f;
	padding: 3px;
	margin-bottom: 10px;
	overflow-y: scroll;
}

footer {
	position: sticky;
	bottom: 0;
	background-color: #458FFF;
	padding: 1rem 0 1rem 0;
	width: 100%;
	max-width: 100%;
}

footer p {
	margin-left: 1em;
	font-size: 12px;
}

@media (max-height: 800px){
	footer {
		position: sticky;
		font-size: 10px;
	}
}

@media (max-width: 900px) {
	.centered {
		display: flex;
		flex-direction: column;
		max-width: 80%;
		margin: 0 auto;
		justify-content: space-around;
		align-items: center;
	}

    .centered > * {
        margin-bottom: 20px; 
    }

	footer {
		position: sticky;
		font-size: 10px;
	}
}