<header>
	<h1>AI-Tools</h1>
	@if(getData()){
		<h3>{{getData()}}</h3>
		<button class="login" (click)="deleteData()">Iniciar Sesión</button>
	}@else {
		<nav>
		<button class="login" (click)="handleLogin()">Iniciar Sesión</button>
		<button class="register" (click)="handleRegister()">Registrarse</button>
	</nav>
	}
</header>
<section class="aboutUs">
	<h2>¿Qué es AI-Tools?</h2>
	<p>AI-Tools es una aplicación web que te permite realizar diferentes tareas con el uso de la inteligencia artificial.
	</p>
</section>

<section class="services">
	<h2>Servicios</h2>
	<div class="gridServices">
		<a routerLink="/pic-text" class="card pictext">
			<div class="cardImage">
				<img src="assets/picText.png" alt="Imagen de texto">
			</div>
			<p>Puedes subir una imagen y obtener el texto que contiene. Además, puedes descargar el resultado en un archivo
				PDF.</p>
		</a>
		<a routerLink="/home" class="card">
			<div class="cardImage upcoming">
				<img src="assets/comming.png" alt="Imagen de texto">
			</div>
			<p>Proximamente</p>
		</a>
		<a routerLink="/home" class="card ">
			<div class="cardImage upcoming">
				<img src="assets/comming.png" alt="Imagen de texto">
			</div>
			<p>Proximamente</p>
		</a>
		<a routerLink="/home" class="card ">
			<div class="cardImage upcoming">
				<img src="assets/comming.png" alt="Imagen de texto">
			</div>
			<p>Proximamente</p>
		</a>
	</div>
</section>

<footer>
	<p>© 2024 - Made by Maria C. Jaramillo, Andres F. Velasco, J. Sebastian Roncancio, Cesar Augusto Velasquez </p>
</footer>

<!-- Puedes subir una imagen y obtener el texto que contiene. Además, puedes descargar el resultado en un archivo PDF. -->