<header>
	<img src="assets/picText.png" alt="Logo" class="logo">
	<div *ngIf="imageUrl && !imagePath" class="loader"></div>
</header>
<a class="homeLink" routerLink="/home">
	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 6l-6 6l6 6" /></svg>
</a>
<div class="inputPromt">
	<p>¿Qué deseas hacer?</p>
	<div class="text-input">
		<input type="text" placeholder="Ingresa tu texto aquí" [(ngModel)]="text" (onchange)="showText()">
	</div>
</div>
<div class="centered">
	<div class="uploadImg">
		@if (imageUrl) {
		<div class="filled-box">
			<img [src]="imageUrl" alt="Imagen seleccionada">
		</div>
		} @else {
		<div class="empty-box"></div>
		}
		<button class="raised-button" (click)="uploadImage()">
			Upload Image
			<input type="file" style="display: none;" accept="image/*">
		</button>
	</div>
	<div class="uploadImg">

		<div class="text-box"> {{textImage}} </div>
		@if (textImage != '') {
			<button class="raised-button" (click)="downloadPDF()">
				Download PDF
			</button>
		}@else {
			<button class="raised-button" disabled>
				Download PDF
			</button>
		}
		
	</div>
</div>
<div class="centered">
	@if(imagePath){
	<button class="raised-button"(click)="sendImage()">
		Submit
	</button>
	}@else{
		<button class="raised-button" disabled>
			Submit
		</button>
	}
	
</div>



<footer>
	<p>© 2024 - Made by Maria C. Jaramillo, Andres F. Velasco, J. Sebastian Roncancio, Cesar Augusto Velasquez </p>
</footer>