<header>
	<img src="assets/picText.png" alt="Logo" class="logo">
</header>
<div class="inputPromt">
	<p>¿Qué deseas hacer?</p>
	<div class="text-input">
		<input type="text" placeholder="Ingresa tu texto aquí" [(ngModel)]="textImput" (keyup.enter)="showText()">
	</div>
</div>
<div class="centered">
	<div class="uploadImg">
		@if (imageUrl) {
		<div class="filled-box">
			<img [src]="imageUrl" alt="Imagen seleccionada">
		</div>
		} @else {
		<div class="empty-box"></div>
		}
		<button class="raised-button" (click)="uploadImage()">
			Upload Image
			<input type="file" style="display: none;" accept="image/*">
		</button>
	</div>
	<div class="uploadImg">

		<div class="text-box"> {{textImage}} </div>
		@if (textImage != '') {
			<button class="raised-button" (click)="downloadPDF()">
				Download PDF
			</button>
		}@else {
			<button class="raised-button" disabled>
				Download PDF
			</button>
		}
		
	</div>
</div>
<div class="centered">
	@if(imageUrl){
	<button class="raised-button">
		Submit
	</button>
	}@else{
		<button class="raised-button" disabled>
			Submit
		</button>
	}
</div>
<div class="record">
	<div>
		<p>Historial de resultados</p>
	</div>
	<div class="record-table">
		<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
			<ng-container matColumnDef="position">
				<th mat-header-cell *matHeaderCellDef> No. </th>
				<td mat-cell *matCellDef="let element"> {{element.position}} </td>
			</ng-container>
			<ng-container matColumnDef="image">
				<th mat-header-cell *matHeaderCellDef> Image URL </th>
				<td mat-cell *matCellDef="let element"> {{element.image}} </td>
			</ng-container>
			<ng-container matColumnDef="text">
				<th mat-header-cell *matHeaderCellDef> Text Generated </th>
				<td mat-cell *matCellDef="let element"> {{element.text}} </td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
	</div>
	<div>
		<mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of records">
  		</mat-paginator>
	</div>
</div>



<footer>
	<p>© 2024 - Made by Maria C. Jaramillo, Andres F. Velasco, J. Sebastian Roncancio, Cesar Augusto Velasquez </p>
</footer>